.navbar {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 10vh;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.navbar-company-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-profile {
    height: 40px;
    width: 40px;
    border: px solid black;
    border-radius: 50%;
}

