.tweet{
    border: 1px solid rgba(132, 129, 129,0.4);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tweet-section{
    border: none;
    height: 50px;
    width: 100%;
}

.tweet-profile{
    height: 50px;
}

.tweet-tools{
    width: 100%;
    display: flex;
    
}